[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/assimp"]
	path = libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libraries/bullet3"]
	path = libraries/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "libraries/Catch2"]
	path = libraries/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libraries/entt"]
	path = libraries/entt
	url = https://github.com/skypjack/entt.git
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog.git
